section {
  padding: 60px 0;
  position: relative;
}

.home-section {
  padding-top: 150px;
  color: #fff;
}

.home-section .logo, .home-section p {
  margin-bottom: 120px;
}

@media (min-width: 992px) {
  .home-section {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .interest-section {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  #skills{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  #contact{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#detail {
  display: none;
}

#filter {
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

#filter li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  margin: 0 10px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-gray {
  background: #f5f5f5;
}


.form-control {
  margin-bottom: 20px;
}

footer.main-footer {
  padding: 60px 0;
  background: #222;
}
